.photo-gallery_pro {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4개의 열을 동일한 너비로 설정 */
    gap: 10px; /* 이미지 간의 간격 설정 */
    padding: 0 10px; /* 좌우 여백 설정 */
    box-sizing: border-box; /* 패딩을 포함하여 전체 크기 계산 */
    width: 100%; /* 전체 너비를 100%로 설정 */
  }

  .photo-gallery_pro img {
    width: 100%; /* 이미지가 그리드 칸의 너비에 맞게 조정 */
    height: auto; /* 이미지 비율 유지 */
    object-fit: cover; /* 이미지 비율 유지하며 부모 요소에 맞춤 */
  }