.template-wrap {
	width: 100vw;
	min-width: 500px;
	height: 100vh;
	display: flex;
	flex-flow: column nowrap;
	overflow-x: hidden;
	overflow-y: auto;

	header {
		flex: 0 0 auto;
		position: relative;
		.global-navi {
			display: flex;
			flex-flow: row nowrap;
			align-items: center;
			width: 100vw;
			height: 50px;
			padding: 0 20px;
			box-sizing: border-box;
			background: rgba(255, 255, 255, 0.9);
			box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
			h1 {
				font-size: 18px;
				margin-right: 10px;
				padding-right: 10px;
				border-right: 1px solid #ddd;
			}
			p {
				font-size: 16px;
			}
		}
		nav {
			position: absolute;
			z-index: 9;
			.side-navi {
				margin-top: 15px;
				padding-left: 20px;
				list-style: none;
				li {
					width: fit-content;
					font-size: 14px;
					cursor: pointer;
					&:hover {
						text-decoration: underline;
					}
					a {
						text-decoration: none;
						color: #111;
					}
				}
			}
		}
	}

	.body {
		flex: 1 1 auto;
		display: flex;
		flex-flow: row nowrap;
		justify-content: center;
		color: #333;
		overflow-x: hidden;
		overflow-y: auto;
	}

	footer {
		flex: 0 0 auto;
		box-shadow: 0px -8px 10px rgba(255, 255, 255, 0.7);
		.footer-wrap {
			display: flex;
			flex-flow: row nowrap;
			align-items: center;
			justify-content: flex-end;
			width: 100vw;
			height: 80px;
			padding: 0 30px;
			box-sizing: border-box;
			background: #22252b;
			color: #f5f5f5;
			h1 {
				font-size: 18px;
				margin-right: 10px;
				padding-right: 10px;
				border-right: 1px solid #ddd;
			}
			p {
				font-size: 15px;
			}
		}
	}
}
