/* src/App.css */

/* 기본 스타일 */
body, html {
  margin: 0;
  overflow-x: hidden; /* 가로 스크롤 숨기기 */
  font-family: Arial, sans-serif;
  padding: 0;
}

.App {
  text-align: center;
}

header, footer {
  background-color: #282c34;
  padding: 20px;
  color: white;
}

section {
  border: none;
}

nav a {
  margin: 0 10px;
  color: white;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}

h1, h2 {
  margin: 20px 0;
}

h3 {
  margin: 10px 0;
}

#projects, #guest, #designers {
  background-color: #000000;
  color: white;
  border: none;
}

#about, #professors, #pics {
  background-color: #ffffff;
  color: black;
  border: none;
}