.App {
  text-align: center;
}

header, footer {
  background-color: #282c34;
  padding: 20px;
  color: white;
}

nav a {
  margin: 0 10px;
  color: white;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}

h1, h2 {
  margin: 20px 0;
}

h3 {
  margin: 10px 0;
}

.section {
  padding: 50px;
  margin-top: 70px; /* 섹션이 네비게이션 바에 가려지지 않도록 상단 여백 추가 */
}

#projects, #guest, #designers {
  background-color: #000000;
  color: white;
}

#about, #professors, #pics {
  background-color: #ffffff;
  color: black;
}

.about-content {
  text-align: center;
}

.about-content img.logo {
  max-width: 80%; /* 이미지 너비 최대화 */
  height: auto; /* 이미지 높이 자동 조정 */
  margin-top: 20px; /* 로고 위 여백 추가 */
}

/* project only css */
.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* 반응형 그리드 설정 */
  gap: 10px; /* 사각형 사이의 간격 설정 */
}

.project-preview {
  position: relative;
  overflow: hidden;
  background-color: #ccc; /* 회색 배경 */
  border-radius: 8px;
  transition: transform 0.3s ease;
}

.project-preview:hover {
  transform: scale(1.05); /* 마우스 호버 시 사각형 크기 확대 */
}

.project-preview-inner {
  width: 100%;
  height: 0;
  padding-bottom: 100%; /* 정사각형으로 만들기 위한 비율 설정 */
  position: relative;
}

.project-preview-inner img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover; /* 이미지를 비율유지하면서 가득 채우도록 설정 */
}

.project-preview-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5); /* 반투명 배경 */
  color: #fff;
  padding: 10px 20px;
  border-radius: 8px;
  opacity: 0; /* 초기에는 보이지 않음 */
  transition: opacity 0.3s ease;
}

.project-preview:hover .project-preview-overlay {
  opacity: 1; /* 호버 시 투명도 조정하여 텍스트 표시 */
}

#designers p {
  text-align: left;
  font-size: 2em;
  margin: 50px; /* 각 p 태그 간에 20px 간격 */
}
#designers h2 {
  margin-bottom: 120px; /* h2 태그 아래 여백 */
}

.greenName {
  color: green;
}

.photo-gallery {
  display: flex;
  overflow-x: auto; /* 가로 스크롤 활성화 */
  flex-wrap: nowrap; /* 줄 바꿈 방지 */
  justify-content: center; /* 가운데 정렬 */
  gap: 20px; /* 사진들 사이의 간격을 설정 */
}
.photo-gallery_pro {
  display: flex;
  overflow-x: hidden; /* 가로 스크롤 활성화 */
  flex-wrap: nowrap; /* 줄 바꿈 방지 */
  justify-content: center; /* 가운데 정렬 */
  gap: 20px; /* 사진들 사이의 간격을 설정 */
}

.photo_pics {
  width: 300px; /* 이미지의 너비를 고정값으로 설정 */
  height: 600px; /* 이미지의 높이를 고정값으로 설정 */
  object-fit: cover; /* 이미지의 비율을 유지하면서 잘라냄 */
  flex: 0 0 auto; /* flex 아이템이 줄 바꿈되지 않도록 설정 */
}
.photo_pro {
  width: 300px; /* 이미지의 너비를 고정값으로 설정 */
  height: 600px; /* 이미지의 높이를 고정값으로 설정 */
  object-fit: cover; /* 이미지의 비율을 유지하면서 잘라냄 */
}
